<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--<add key="Blobs" value="UseDevelopmentStorage=true" />-->
    <add key="Blobs" value="AccountName=mayadeentest1;AccountKey=AD9yPrFJH15bxdNaWWXfa1MuZeZvCm0tWOusIHOhZ1oNzb7MnpjldMVKffjxfowkkF1vKS7n5rJGWO2htKx3yQ==;DefaultEndpointsProtocol=https" />
  </appSettings>
</configuration>
